body{
  margin: 0;
  text-align: center;
  background-color:silver
}

h1{
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 30px;
}

.container { 
  margin: 0 auto; 
  justify-content: center;
  background-image: url("/public/images/jt.jpg");
  width: 250px;
  height: 300px;
  border-radius: 15px;
  background-position: center;
  background: cover;
}



